<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tools</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
    href="https://unpkg.com/sakura.css/css/sakura.css"
    type="text/css">
  </head>
  <body>
    <ul><!--
      <li><a href="http://{{ host_main_ip }}:8086">influx</a></li>
      <li><a href="http://{{ host_main_ip }}:8888">chronograf</a></li>
      <li><a href="http://{{ host_main_ip }}:9092">kapacitord</a></li>
    -->
      <li><a href="/docs">docs</a></li>
      <li><a href="/poudriere">poudriere</a></li>
      <li><a href="/server_status">server_status</a></li>
      <li><a href="http://192.168.200.1">router</a></li>
    </ul>
  </body>
</html>
